*.log
System.*.dll
VietRauERPUpdater.exe
LogonParameters
DocumentFormat.OpenXml.dll
FileList.txt
Google.*.dll
IronBarCode.dll
IronBarCode.xml
UploadFileUpdate.exe
KASHO.Win.vshost.exe
KASHO.Win.vshost.exe.config
KASHO.Win.vshost.exe.manifest
token.json
credentials.json
credentials.json
GitCommand.exe
GitPushReleased.exe
VietRauDownloader.exe
*.pdb
*.xml
vi2/
de/
es/
ja/
ru/
ExportPDF/